@font-face {
    font-family: "PF Bulletin Sans Pro Light";
    src: url(../fonts/PFBulletinSansPro-Light.ttf);
   }

@font-face {
    font-family: "PF Bulletin Sans Pro Regular";
    src: url(../fonts/PFBulletinSansPro-Regular.ttf);
   }

@font-face {
    font-family: "PF Bulletin Sans Pro Medium";
    src: url(../fonts/PFBulletinSansPro-Medium.ttf);
   }

@font-face {
    font-family: "PF Bulletin Sans Pro Bold";
    src: url(../fonts/PFBulletinSansPro-Bold.ttf);
   }

@font-face {
    font-family: "PF Agora Sans Pro Light";
    src: url(../fonts/PFAgoraSansPro-Light.ttf);
   }

@font-face {
    font-family: "PF Agora Sans Pro Regular";
    src: url(../fonts/PFAgoraSansPro-Reg.ttf);
   }

@font-face {
    font-family: "PF Din Display Pro Light";
    src: url(../fonts/PFDinDisplayPro-Light.ttf);
   }

@font-face {
    font-family: "PF Din Display Pro Regular";
    src: url(../fonts/PFDinDisplayPro-Reg.ttf);
   }
