.inner {
	width: 1000px;
	margin: auto;
	position: relative;
	}

body > .inner {
	// height: calc(100% - 52px);
	min-height: 100%;
	position: relative;
	}

.content {
	padding-bottom: 208px;
	background: #fff;
	box-shadow: 0 0 24px 0 rgba(#aeaeae, .15);
	}

#content {
	margin: 23px 30px 35px;
	}

#wrapper {
	z-index: 1000;
	position: relative;
	}

.background {
	width: 100%;
	top: 0;
	bottom: 0;
	position: absolute;
	background: linear-gradient(to top, #ddedf6, #fff);
	}
