.newsline
    .inner
        .newsline-news
            strong Последние новости
            ul
                li
                    p 1 марта 2014
                    a href="" Автоэлектроника Roadweller готова к любым дорожным и не только приключениям.
                li
                    p 23 февраля 2014
                    a href="" Поздравляем всех мужчин с 23 февраля, и предлагаем Вам все видеорегистраторы по сниженным ценам!
                li
                    p 6 марта 2014
                    a href="" Сегодня последний день акции от Philips!
                li
                    p 8 марта 2014
                    a href="" Вводим новую гибкую ценовую политику.

        .newsline-reviews
            strong Недавние отзывы о товарах
            ul
                li
                    p 1 марта 2014
                    a href="" Мультиварка Panasonic SR TMH18LTW
                    b Создав учетную запись Вы сможетете быстрее оформлять заказы, отслеживать их статус и просматривать...
                li
                    p 1 марта 2014
                    a href="" Мультиварка Panasonic SR TMH18LTW
                    b Создав учетную запись Вы сможетете быстрее оформлять заказы, отслеживать их статус и просматривать...
                li
                    p 1 марта 2014
                    a href="" Мультиварка Panasonic SR TMH18LTW
                    b Создав учетную запись Вы сможетете быстрее оформлять заказы, отслеживать их статус и просматривать...

        .newsline-banner
            img src="images/newsline-banner.jpg"
