.bottomline {
	@extend .clearfix;
	background-color: #3d4b51;
	font-family: $font-bulletin-sans-pro-light;
	font-size: 15px;
	}
	.inner {
		> a {
		margin-top: 7px;
		line-height: 36px;
		background-color: #46555b;
		border-radius: 4px;
		color: #6a7f89;
		text-decoration: none;
		}
	}

	.bottomline-menu {
		float: right;
		li {
			float: left;
			margin-left: 15px;
			line-height: 52px;
			a {
				padding: 3px 0 2px 30px;
				color: #90a7b2;
				height: 20px;
				text-decoration: none;
				span {
				text-decoration: underline;
					}
				b {
				margin-left: 8px;
				padding: 3px 7px;
				background-color: #566870;
				font-size: 14px;
					}
				}
			}
		}

		.bottomline-menu-compare {
			a {
				background-image: url(../images/bottomline-sprite.png);
				background-repeat: no-repeat;
				background-position: 0px 0px;
				}
			&:hover {
				a {
					background-position: 0px -21px;
					color: #fff;
					}
				}
			}

		.bottomline-menu-bookmarks {
			a {
				background-image: url(../images/bottomline-sprite.png);
				background-repeat: no-repeat;
				background-position: 0px -44px;
				}
			&:hover {
				a {
					background-position: 0px -66px;
					color: #fff;
					}
				}
			}

		.bottomline-menu-basket {
			a {
				background-image: url(../images/bottomline-sprite.png);
				background-repeat: no-repeat;
				background-position: 0px -86px;
				}
			&:hover {
				a {
					background-position: 0px -108px;
					color: #fff;
					}
				}
			}

	.bottomline-checkout {
		float: right;
		margin-right: 30px;
		margin-left: 20px;
		padding: 0 9px 0 35px;
		background-image: url(../images/bottomline-sprite.png);
		background-repeat: no-repeat;
		background-position: 10px -130px;
		&._active {
			color: #fff;
			background-color: #f73636;
			background-position: 10px -167px;
			}
		}

	a.bottomline-upbutton {
		position: relative;
		float: left;
		margin-left: 30px;
		padding: 13px 7px 12px 22px;
		line-height: 13px;

		&:hover {
			background-color: #d8e1e7;
			}
		&:active {
			background-color: #eef6fb;
			}
		&:before {
			content: "";
			position: absolute;
			top:13px;
			left: 7px;
			border-bottom: 9px solid #5a686e;
			border-right: 5.5px solid transparent;
			border-left: 5.5px solid transparent;
			}
		}
