footer {
	@extend .clearfix;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #313739;
	padding-bottom: 20px;

	a {
		color: #e6e6e6;
		text-decoration: none;
		font-size: 12px;
		font-family: $font-bulletin-sans-pro-light;
		&:hover {
			color: #fff;
			}
		}

	strong {
		color: #fff;
		font-family: $font-bulletin-sans-pro-medium;
		font-size: 14px;
		}
	}

	.footer-menu {
		margin-left: 10px;
		}

		.footer-menu-block {
			float: left;
			width: 140px;
			margin-top: 25px;
			margin-left: 20px;
				ul {
					margin-top: 5px;
					}
					li {
						padding: 4px 0 4px 13px;
						}
			}

	.footer-social {
		float: left;
		width: 160px;
		margin-top: 25px;
		text-align: center;
		strong {
			display: block;
			margin-bottom: 10px;
			}
		a {
			display: inline-block;
			margin: 4px 4px;
			height: 32px;
			width: 34px;
			background-image: url(../images/social-icon.png);
			&:hover {
				background-color: #6c7e84;
				}
			}
		.-fb {
			background-position: 0px 0px;
			&:hover {
			background-position: -34px 0px;
				}
			}
		.-vk {
			background-position: 0px -32px;
			&:hover {
			background-position: -34px -32px;
				}
			}
		.-twitter {
			background-position: 0px -64px;
			&:hover {
			background-position: -34px -64px;
				}
			}
		.-gplus {
			background-position: 0px -96px;
			&:hover {
			background-position: -34px -96px;
				}
			}
		.-skype {
			background-position: 0px -128px;
			&:hover {
			background-position: -34px -128px;
				}
			}
		}

	.footer-payments {
		float: left;
		width: 160px;
		margin-left: 20px;
		margin-top: 25px;
		text-align: center;
		strong {
			display: block;
			margin-bottom: 5px;
			}
		a {
			display: inline-block;
			width: 24px;
			height: 16px;
			margin: 5px;
			background-image: url(../images/payments-sprite.png);
			opacity: 0.7;
			&:hover {
				opacity: 1;
				}
			}
		}
		.-i1 {
			background-position: 0px 0px;
			}
		.-i2 {
			background-position: 0px -16px;
			}
		.-i3 {
			background-position: 0px -32px;
			}
		.-i4 {
			background-position: 0px -48px;
			}
		.-i5 {
			background-position: 0px -64px;
			}
		.-i6 {
			background-position: 0px -80px;
			}
		.-i7 {
			background-position: 0px -96px;
			}
		.-i8 {
			background-position: 0px -112px;
			}
		.-i9 {
			background-position: 0px -128px;
			}
