.menu {
	width: 220px;
	float: left;
	background: #d5e3ec;
	border-radius: 5px;
	overflow: hidden;
	color: #184d72;
	font-size: 16px;
	font-family: $font-bulletin-sans-pro-light;

	li {
		line-height: 19px;
		position: relative;

		&:last-child a {
			border-bottom: 0;
			}
		&._fixed a {
			padding-bottom: 11px;
			border-bottom: 0;
			background: #10517c;
			color: #fff;
			}
		&.-eq1 a:after {
			background-image: url(../images/icon-menu-category.png);
			}
		}

	a {
		padding: 12px 10px 10px 47px;
		display: block;

		border-bottom: 1px solid #aacee6;

		line-height: 19px;
		color: #184d72;

		&:after {
			width: 24px;
			height: 24px;
			content: '\0020';
			display: block;
			margin-top: -12px;
			top: 50%;
			left: 11px;
			position: absolute;
			background: url(../images/icon-menu-pack.png) no-repeat 50%;
			}

		&:hover {
			color: #fff;
			background-color: #196191;
			}
		}

	@for $i from 2 through 10 {

		.-eq#{$i} a {
			&:after {
				background-position: (-24px * ($i - 2)) 0;
				}
			&:hover:after {
				background-position: (-24px * ($i - 2)) -24px;
				}
			}

	}

	span {
		line-height: 20px;
		display: inline-block;
		vertical-align: middle;
		}
	}
