.newsline {
	@extend .clearfix;
	padding: 35px 0;
	.newsline-news,
	.newsline-reviews {
	font-family: $font-bulletin-sans-pro-light;
		strong {
			padding-left: 30px;
			color: $color-link;
			font-size: 18px;
			}

		a {
			color: $color-link;
			font-size: 14px;
			}

		li {
			margin: 16px 0;
			p {
				color: #848484;
				font-size: 14px;
				}
			}

	}

	.newsline-news {
		box-sizing: border-box;
		float: left;
		margin-left: 30px;
		padding-left: 20px;
		width: 380px;

		strong {
			background: url('../images/icon-paper.png') no-repeat 0 0;
			}
		}

	.newsline-reviews {
		float: left;
		padding-left: 20px;
		width: 220px;
		strong {
			background: url('../images/icon-chat.png') no-repeat 0 0;
			}

		b {
			//для переноса строки
			display: block;
			margin-top: 10px;
			color: #838383;
			font-size: 13px;
			font-family: $font-bulletin-sans-pro-regular;
			}
		}

	.newsline-banner {
		margin-right: 30px;
		float: right;
		width: 300px;
		}
	}
