.products {
	margin-bottom: 26px;

	a {
		font-size: 14px;
		line-height: 24px;
		color: #2270a7;
		font-family: $font-bulletin-sans-pro-regular;

		&:hover {
			color: #1a5883;

			img {
				opacity: .5;
				}
			}

		b {
			text-align: left;
			display: inline-block;
			text-decoration: underline;
			}
		}

	img {
		display: inline-block;
		transition: opacity 0s 0.1s ease-in-out;
		}

	span {
		padding-top: 10px;
		display: block;
		font-family: $font-bulletin-sans-pro-bold;
		font-size: 24px;
		color: #39505e;
		text-align: left;

		i {
			font-family: $font-bulletin-sans-pro-regular;
			font-size: 14px;
			}
		}

	ul {
		@extend .clearfix;
		}

	li {
		width: 175px;
		padding: 0 25px;
		box-sizing: border-box;
		float: left;
		position: relative;
		text-align: center;

		&:not(:last-child):after {
			width: 1px;
			height: 100px;
			top: 49px;
			right: 0;
			position: absolute;
			display: block;
			content: "\0020";
			background: #e6e6e6;
			}
		}
	}
	.products-all {
		margin-top: 10px;
		font-family: $font-bulletin-sans-pro-light;
		font-size: 14px;
		line-height: 24px;
		}

.products_popular {
	margin-left: 240px;
	font-size: 14px;

	.title {
		padding-left: 32px;
		margin-bottom: 10px;
		background: url('../images/icon-win.png') no-repeat 0 0;
		}
	}

.products_hot {

	li:first-child {
		width: 410px;

		img {
			width: 230px;
			float: left;
			}
		b {
			margin-top: 20px;
			margin-left: 230px;
			display: block;
			}
		}

	.title {
		padding-left: 37px;
		margin-bottom: 10px;
		line-height: 34px;
		background: url('../images/icon-percent.png') no-repeat 0 0;
		color: #fe1c1c;
		}

	.products-all,
	.products-all:hover {
		color: #fe1c1c;
		}
	span {
		color: #fe1c1c;
		i {color: #39505e;}
		}
	}
