.slider {
	margin-bottom: 25px;
	margin-left: 240px;
	position: relative;

	ul {
		width: 700px;
		height: 250px;
		position: relative;
		overflow: hidden;
		}

	li {
		top: 0;
		left: 0;
		position: absolute;
		z-index: 100;

		&._prev {
			z-index: 200;
			}
		&._active {
			z-index: 300;
			}
		}
	}

	.slider-controls {
		padding: 12px 11px 8px 0;
		right: 8px;
		bottom: 7px;
		position: absolute;
		z-index: 400;
		border-radius: 3px;
		background: rgba(0,0,0,.5);

		span {
			width: 11px;
			height: 12px;
			margin-left: 11px;
			display: inline-block;
			border-radius: 2px;
			background-color: #8a8a8a;
			cursor: pointer;

			&._active {
				background-color: #fff;
				}
			}
		}
